h1 {
    text-align: center;
}

button {
    background-image: url("https://via.placeholder.com/150/");
    height: 150px;
    width: 150px;
    margin-right: 10px;
}

span {
    visibility: hidden;
}

.show {
    visibility: visible;
}
