body {
    font-family: 'Lato', sans-serif;
    background-image: url(../images/chevron/chevron.png);
    background-repeat: repeat;
    margin-bottom: 100px;
}

.jumbotron {
    background-color: black;
    color: white;
    padding: 20px;
}

h1 {
    text-align: center;
}

h2 {
    font-weight: bold;
}

.crystal1 {
    background-image: url(../images/diamond-blue.png);
    height: 150px;
    width: 150px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.crystal2 {
    background-image: url(../images/diamond-green.png);
    height: 150px;
    width: 150px;
    margin-right: 10px;
}

.crystal3 {
    background-image: url(../images/diamond-pink.png);
    height: 150px;
    width: 150px;
    margin-right: 10px;
}

.crystal4 {
    background-image: url(../images/diamond-purple.png);
    height: 150px;
    width: 150px;
    margin-right: 10px;
}
span {
    visibility: hidden;
}

.show {
    visibility: visible;
}

div {
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
}
