body {
    background-color: #F2ED0B;
    font-family: 'Permanent Marker';
    font-size: 24px;
}

.center {
    margin: auto;
}

.logo {
    display: block;
    margin: auto;
}

.container {
    padding-top: 40px;
}

h2 {
    font-size: 48px;
}

span {
    visibility: hidden;
}

.show {
    visibility: visible;
}

.crystal1, .crystal2, .crystal3, .crystal4 {
    background-image: url(../images/burger-1.png);

}

.burger-btn {
    height: 50px;
    width: 50px;
}

.total-record {
    padding-top: 20px;
}

.row-3 {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.burgers {
    display: inline;
    margin-left: auto;
    margin-right: auto;
}

#teddy {
    display: inline;
    margin: auto;
}


@media screen and (max-width: 1215px) {
    .burgers, #teddy {
        display: block;
        margin: auto;
    }
    .row-3 {
        padding-top: 50px;
    }
}
